<% include header.html%>

 <!-- Projects-->
 <section class="projects-section bg-light" id="projects">
    <div class="container">
        <!-- Featured Project Row-->
        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
            <div class="col-xl-4 col-lg-5">
                    <div class="featured-text text-center text-lg-left">
                        <h4> <%= __('Private page') %> </h4>
                    </div>
            </div>
            <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="assets/img/bg-masthead.jpg" alt="" /></div>
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text text-center text-lg-left">
                    <h4>NODEPOP</h4>
                    <!-- <p class="text-black-50 mb-0">Grayscale is open source and MIT licensed. This means you can use it for any project - even commercial projects! Download it, customize it, and publish your website!</p> -->
                    
                    <!-- resuelta -->
                    <table class="table table-hover">
                        <thead><tr>
                          <th>Nombre</th>
                          <th>Venta</th>
                          <th style="text-align: right">Precio</th>
                          <th>Foto</th>
                          <th>Tags</th>
                          <th>#</th>
                        </tr></thead>
                        <tbody>
                 
                          <tr>
                            <td> Bicicleta </td>
                            <td> Si </td>
                            <td style="text-align: right">200 €</td>
                            <td><img src=""></td>
                            <td>lifestyle</td>
                            <td> 001 </td>
                          </tr>
                 
                        </tbody>
                      </table>

                </div>
            </div>
        </div>
    </div>
</section>



<% include footer.html %>